body {
    background-color: rgb(0, 0, 65);
}

.navbar {
    display: fixed;
    background-color:rgb(31, 19, 66);
    height: 100px;
    width: 100%;
    border-radius: 50px;
    overflow: auto;
}

.navbar > div {
    display: inline-block;
    background-color:rgb(19, 7, 54);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 100px;

}

.navbar > div > a {
    position: absolute;
    color: rgb(45, 39, 112);
    font-family: bahnschrift;
    font-size: 15pt;
    
}

.login-container {
    display: absolute;
    background-color: rgb(37, 93, 212);
    height: 600px;
    width: 400px;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 40%;
    
}

.login-container > h1:nth-of-type(1) {
    font-family: bahnschrift;
    font-size: 20pt;
    text-align: center;
}

#loginForm {
    display: absolute;
    font-family: bahnschrift;
    font-size: 15pt;
    white-space: pre;
    margin-left: 50px;
}

#loginForm > #login, #loginForm > #register {
    display: inline-block;
    
}